---
import HeaderLink from '../nav/HeaderLink.astro';
import { siteConfig, footerConfig } from '../../config';
import I18nKey from "../../i18n/i18nKey";
import { detectLocale } from "../../utils/i18n";
import I18nLabel from "../common/I18nLabel.astro"
import { type NavBarLink, type PresetNavBarLink } from "../../type/config.ts";
import { getLinkPreset } from '../../utils/link-presets';

const today = new Date();
const currentLocale = detectLocale(Astro.url.pathname);

const isPresetLink = (item: NavBarLink | number | PresetNavBarLink): item is PresetNavBarLink => {
  return typeof item === 'object' && item !== null && 'preset' in item;
};

const links = footerConfig.links.map(item => {
  if (typeof item === "number" || isPresetLink(item)) {
    return getLinkPreset(currentLocale, item);
  }
  return item as NavBarLink;
});
---

<footer id="site-footer">
  <nav>
    <ul>
      {links.map((link) => {
        return (
          <li> <HeaderLink href={link.url}>{link.name}</HeaderLink> </li>
        );
      })}
    </ul>
  </nav>
  <p>
    &copy; { siteConfig.title }, {today.getFullYear()}
  </p>
  <p>
    <small>
      <I18nLabel k={I18nKey.powered_by} p={{
        Astro: '<a class="link external" href="https://astro.build/">Astro</a>',
        Goosequill: '<a class="link external" href="https://github.com/ErinaYip/goosequill">Goosequill</a>',
      }} />
    </small>
  </p>
</footer>
