---
---

<div id="search-container">
  <input id="search-bar" type="text" placeholder="Search..." autocomplete="off" disabled />
  <div id="search-results-container">
    <div id="search-results"></div>
  </div>
</div>
